::-webkit-scrollbar {
    display: none;
}

video {
  object-fit: cover;
  filter: brightness(50%);
  /* width: 100vw; */
  width: calc(100vw - (100vw - 100%));
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}



.middle_text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
  border: 3px solid green;
  flex-direction: column;
}


#Space {
  font-size: 6rem;
  font-family: sans-serif;
}

.smallerText{
  font-size: 2rem;
  color: lightgrey;
}

.info {
  border: 3px solid red;
  width: 50%;
  margin: auto;
  font-size: 2rem;
  font-family: sans-serif;
}
