/* General Resets & Basic Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: Arial, sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* Scrollbar Customization */
::-webkit-scrollbar {
  display: none;
}

/* Video Background */
video {
  object-fit: cover;
  filter: brightness(25%);
  width: calc(100vw - (100vw - 100%));
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Text Over Video */
.middle_text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

#my_name_above_video {
  font-size: 6rem;
  font-family: 'Arial', sans-serif;
}

.text_above_video {
  font-size: 2rem;
  color: lightgrey;
}

/* Info Section */
.info_after_video_scroll_down {
  width: 65%;
  margin: 50px auto;
  font-size: 1.5rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.75);
  border: none;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

/* Film Cards Container */
.filmcardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  position: relative;
  z-index: 2;
}

/* Film Card */
.filmcard {
  background-color: #333;
  padding: 15px;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.filmcard:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}

.filmcard iframe {
  width: 100%;
  height: 175px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.filmcard h2, .filmcard p {
  margin-bottom: 10px;
}

.filmcard h2 {
  font-size: 1.5em;
  color: #E2E2E2;
}

.filmcard p {
  font-size: 1em;
  color: #CCC;
}

/* Responsive Adjustments */
@media (max-width: 1024px) {
  .info_after_video_scroll_down {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .middle_text {
    text-align: center;
  }

  #my_name_above_video {
    font-size: 4rem;
  }

  .text_above_video {
    font-size: 1.5rem;
  }

  .info_after_video_scroll_down {
    width: 90%;
    font-size: 1.2rem;
  }

  .filmcardsContainer {
    flex-direction: column;
    align-items: center;
  }

  .filmcard {
    width: 90%;
  }
}

@media (max-width: 480px) {
  #my_name_above_video {
    font-size: 3rem;
  }

  .text_above_video {
    font-size: 1.2rem;
  }
}

/* Anchor Tag (Link) Adjustments */
a {
  color: #E2E2E2;
  text-decoration: none; /* Consider adding custom styles or hover effects for links */
}

a:hover {
  text-decoration: underline; /* Encourages interaction */
}