body, html {
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: Arial, sans-serif;
}

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  filter: brightness(50%);
  z-index: -1;
}

.text_above_video {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  text-align: center;
}

.text_above_video h1, .small_text_above_video p {
  margin: 20px 0;
}

.info_after_video_scroll_down {
  background-color: white;
  color: black;
  text-align: center;
  padding: 50px 20px;
}

.films h1 {
  margin-top: 40px;
}

.filmcardsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px 0;
}

.filmcard {
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 8px;
  width: calc(33.333% - 20px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.filmcard:not(:last-child) {
  margin-bottom: 20px;
}

.filmcard iframe {
  width: 100%;
  height: 250px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.filmcard h2, .filmcard p {
  margin-bottom: 10px;
}

@media (max-width: 1024px) {
  .filmcard {
    width: calc(50% - 20px );
  }
}

@media (max-width: 768px) {
  .filmcard {
    width: 100%; /* Full width cards on smaller screens for better readability */
  }
}

/* This ensures the text doesn't get too big on smaller screens */
.text_above_video h1 {
  font-size: calc(2rem + 2vw);
  padding: 0 20px;
}

.small_text_above_video p {
  font-size: calc(1rem + 1vw);
  padding: 0 20px;
}